/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/* Compass */
/* Modules */
/*
========================================================================== 
	Colors
========================================================================== 
*/
/* Theme colors */
/* Standard colors */
/*
========================================================================== 
	Element Colors
========================================================================== 
*/
/*
========================================================================== 
	Fonts and Text
========================================================================== 
*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/*
========================================================================== 
	Buttons
========================================================================== 
*/
/*
========================================================================== 
	Boxes
========================================================================== 
*/
/*
========================================================================== 
	Breakpoints
========================================================================== 
*/
/*
==========================================================================
	Blocks
==========================================================================
*/
/* Banner frontpage */
/* line 15, ../scss/sociale-platforme-alpha-default-normal.scss */
.block-frontpage-banner .block-inner {
  width: 50%;
}

/* User region */
/* line 21, ../scss/sociale-platforme-alpha-default-normal.scss */
#region-user {
  text-align: right;
}
/* line 23, ../scss/sociale-platforme-alpha-default-normal.scss */
#region-user .block {
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  float: none;
}
/* line 29, ../scss/sociale-platforme-alpha-default-normal.scss */
#region-user .block.even {
  margin-left: 15px;
}

/* Login */
/* line 36, ../scss/sociale-platforme-alpha-default-normal.scss */
#block-user-login input[type=text],
#block-user-login input[type=password],
#block-user-login input[type=email] {
  min-width: 12em;
}

/*
==========================================================================
	Views
==========================================================================
*/
/* Exposed filters */
/* line 54, ../scss/sociale-platforme-alpha-default-normal.scss */
.quicktabs-tabpage .view-filters .views-exposed-widget,
.page-events .view-filters .views-exposed-widget,
.view-sp-groups .view-filters .views-exposed-widget {
  margin: 0 25px 0 0;
}

/* Groups */
/* line 62, ../scss/sociale-platforme-alpha-default-normal.scss */
.view-sp-groups.groups-grid .view-content {
  width: 103%;
}
/* line 66, ../scss/sociale-platforme-alpha-default-normal.scss */
.panel-panel.grid-12 .view-sp-groups.groups-grid .views-row {
  float: left;
  width: 31%;
  margin-right: 2%;
}
